include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/api_token_notifications *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/api_token_notifications/migration *.ini *.py *.mako
